/* 
* @Author: Marte
* @Date:   2018-03-16 14:48:55
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-16 15:02:54
*/
.lzf_fieldset{padding-top:30px;width:400px;height:200px;background:#ccc;margin:200px auto;}
.lzf_legend{padding-left:34px;padding-top:10px;width:400px;height:25px;background: #ccc;}